.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

@keyframes zoom-in{
    0%{
        transform:scale(0,0) translateY(-10px);
        opacity:0;
    }
    90%{
        transform:scale(1.1,1.1) translateY(5px);
        opacity:1;
    }
    100%{
        transform:scale(1,1) translateY(0px);
        opacity:1;
    }
}
.shadow-lg.first{
    transform:scale(0,0) translateY(-10px);
    opacity:0;
    animation-name:zoom-in;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-height: 408px;
    max-height: 408px;
    overflow-y: visible;
    
}
.shadow-lg.second{
    transform:scale(0,0) translateY(-10px);
    opacity:0;
    animation-name:zoom-in;
    animation-duration: 0.25s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-height: 408px;
    max-height: 408px;
    overflow-y: visible;
}
.shadow-lg.third{
    transform:scale(0,0) translateY(-10px);
    opacity:0;
    animation-name:zoom-in;
    animation-duration: 0.25s;
    animation-delay: 0.45s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-height: 408px;
    max-height: 408px;
    overflow-y: visible;
}
.shadow-lg.fourth{
    transform:scale(0,0) translateY(-10px);
    opacity:0;
    animation-name:zoom-in;
    animation-duration: 0.25s;
    animation-delay: 0.60s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-height: 408px;
    max-height: 408px;
    overflow-y: visible;
}
.border-0 {
    border: 0 !important;
}
.position-relative {
    position: relative !important;
}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .30rem;
}

.member-profile {
    top: -50px;
    left: 0;
}


.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}

.member-profile img {
    width: 100px;
    height: 100px;
}

.group-profile{
    left:0;
}

.group-profile > .group-photo{
    width: 100%;
    height: 100%;
}


.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}