/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2021, 7:58:07 PM
    Author     : Kenneth Lee
*/
body{

    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.interestTagGrp{
    overflow-y: auto;
}
.indexLogo{
    height:20vh;
}
.tox-mbtn__select-label{
    font-weight: bold !important;
}
.searchBox{
    margin-bottom:0px;
}
.searchResult{
    max-height: 10em;

    overflow:hidden;
}

.statisticCount{
    font-size:1.5em !important;
}

.notiTimeStamp{
    text-align: right !important;
    margin-bottom: 0px;
    font-size: 0.8em;
}

.notiContent{
    font-size:0.8em;
}

.deleteNoti{
    margin-right: 5px;
    padding: 0px 10px;
    border-right: 2px solid black;
}

.logo{
    width: 35px;
    height: 35px;
}

figure>img{
    border: double grey;
    border-radius: 2px;
    height: 180px !important;
}

figure{
    display: inline-block;
}

figcaption{
    text-align:center;
    font-style: italic;
    color:grey;
}

footer{
    padding: 15px;
    text-align: center;
    font-size:0.8em;
    margin-top:auto;
}

.pop-up{
    padding:5px;
    background-color:grey;
    position:absolute;
    display:inline;
    top:0px;
    left:200px;
    transition: 0.3s;
    animation-name:fade;
    animation-duration:0.5s;
    z-index:2
}
@keyframes fade {
    from {opacity:0}
    to {opacity:100}
}
.pop-up > img{
    height:240px;
    animation-name: zoom;
    animation-duration: 0.5s
}

@keyframes zoom {
    from {
        height:0px;
    }
    to {
        height: 240px;
    }
}
body{
    background-color:#EFEFEF;
}
nav{
    margin-bottom: 20px;
}
.card {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #ecf2f5;
    border-radius: .25rem;
}
.avatar-lg {
    height: 4.5rem;
    width: 4.5rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}
.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.me-2 {
    margin-right: .75rem!important;
}
.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}
.post-user-comment-box {
    background-color: #fbf5f2;
    margin: 0 -.75rem;
    padding: 1rem;
    margin-top: 20px;
    display: none;
    max-height: 300px;
    overflow:auto;
}
.post-user-comment-box-viewPost {
    background-color: #fbf5f2;
    margin: 0 -.75rem;
    padding: 1rem;
    margin-top: 20px;
    display: block;
}
.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit!important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}
.font-13 {
    font-size: 13px!important;
}
.btn-soft-info {
    color: #45bbe0;
    background-color: rgba(69,187,224,.18);
    border-color: rgba(69,187,224,.12);
}
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.comment-area-box .comment-area-btn {
    background-color: #fbf5f2;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 .2rem .2rem;
}
.like-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
}
.fa-heart{
    position: absolute;
    font-size: var(--like-font-size);
    -webkit-text-stroke: 2px #e5e5e5;
    color: whitesmoke;
    transition: all ease-in-out;
}
.like-btn:checked + .fa-heart{
    color: red;
    -webkit-text-stroke: 1px red;
    animation: .5s linear burst; 
}

@keyframes burst{
    0%,10%{
        transform: scale(1);
        opacity: .5;
        color:lavender;
    }
    45%{
        transform: scale(.2) rotate(30deg);
        opacity: .75;
    }
    50%{
        transform: scale(2) rotate(-37.5deg);
        opacity: 1;
        color: red;
        text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
    }
    90%,95%{
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-2.5deg);
    }

}
.logo{
    font-family: 'Comfortaa', cursive;
}

.logo-index{
    font-size:88px;
    font-family: 'Comfortaa', cursive;
}
.tags{
    text-decoration: none;
}
.tagList{
    overflow:auto
}
.post-options{
    opacity: 0;
    position: absolute !important;
    left:0px !important;
}


.dropdown:hover .post-options {
    display: block;
    animation: 0.25s linear fade;
    opacity:1;
    margin-top: 0; 
}

.navbar-nav>li>.notification-box{
    padding-left:15px;
    padding-right:15px;
    width:325px;
    max-height:600px;
    overflow:auto;
    opacity: 0;
    position:absolute !important;
    left:0px !important;
    top: 35px !important;
}

.dropdown:hover .notification-box {
    display: block;
    animation: 0.25s linear fade;
    opacity:1;
    margin-top: 0; 
}

.notificationBadge{
    bottom:10.5px;
    position:relative;
}

.postTimeStamp{
    text-align: right;
    font-weight:bold;
    
}
@keyframes fade{
    0%,10%{
        opacity: .1;
    }
    45%{
        opacity: .45;
    }
    50%{
        opacity: 0.5;
    }
    90%,95%{
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }

}
